[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Public wiki with useful information about Gerrit Code Review
[access "refs/*"]
	owner = group user/GerritForge Ltd (gerritforge-ltd)
	owner = group user/Luca Milanesio (lucamilanesio)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group GerritForge
	label-Code-Review = -2..+2 group user/GerritForge Ltd (gerritforge-ltd)
	label-Verified = -1..+1 group GerritForge
	label-Verified = -1..+1 group user/GerritForge Ltd (gerritforge-ltd)
	push = group GerritForge
	push = group user/GerritForge Ltd (gerritforge-ltd)
	read = group GerritForge
	read = group user/GerritForge Ltd (gerritforge-ltd)
	rebase = group GerritForge
	rebase = group user/GerritForge Ltd (gerritforge-ltd)
	removeReviewer = group user/GerritForge Ltd (gerritforge-ltd)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group GerritForge
	submit = group user/GerritForge Ltd (gerritforge-ltd)
[access "refs/heads/*"]
	create = group user/GerritForge Ltd (gerritforge-ltd)
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/GerritForge Ltd (gerritforge-ltd)
	push = group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/GerritForge Ltd (gerritforge-ltd)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
	read = group GerritForge
	read = group user/GerritForge Ltd (gerritforge-ltd)
[access "refs/tags/*"]
	push = group user/GerritForge Ltd (gerritforge-ltd)
	push = +force group user/GerritForge Ltd (gerritforge-ltd)
